.top-main-div {
  /* background: rgb(5, 10, 5); */
  background: #002b36;
  width: 100%;
  height: 6vh;
}
.top-ds-div {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  color: white;
}
.dsp-one {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  gap: 20px;
  margin-bottom: auto;
  margin-top: auto;
  text-align: center;
}
.fa-div-f {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dspy-two {
  display: flex;
  /* width: 200px; */
  align-items: center;
  gap: 20px;
  margin-top: auto;
  margin-bottom: auto;
  /* text-align: center; */
}
.hr-div-line {
  width: 0.1px;

  height: 6vh;
  border: #002b36;
  border-color: #002b36;
  align-items: center;
  background-color: grey;
}
.hr-div-line2 {
  display: flex;
  align-items: center;
}
@media (max-width: 980px) {
  .top-main-div {
    display: none;
  }
}
